h1 Insert funds

form action="/cash" method="post"
    input name="user" placeholder="Användare" type="text"
    input name="cash" placeholder="Sätt in pengar" type="integer"
    input type="submit" value="confirm"