<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"/
        meta name="viewport" content="width=device-width, initial-scale=1.0"/
        title Document
    body 

    header 
        a href="/login" Login 
        | |
        a href="/register"  Register 
        | |
        a href="/game"  spela 
        | |
        a href="/cash"  cash 
        | |
        a href="/shop"  shop
        | |
        a href="/delete_account"  ta bort konto          
        

    ==yield