h2 Skapa konto

form action="/register" method="post"
    input name="user" placeholder="Name" type="text"
    input name="pwd" placeholder="Password" type="text"
    input name="pwd_confirm" placeholder="Confirm password" type="text"
    input type="submit" value="SKAPA"